<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="manifest" href="../../manifest.json">
  <link rel="shortcut icon" href="assets/img/icon.ico" type="image/x-icon">

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('../../sw.js')
        .then(function(){
          console.log('Service registrado')
        })
        .catch(function(){
          console.log('Service falhou')
        })
    }
  </script>

</head>

<body>
  <div class="navbar-fixed">
    <nav class="teal darken-3 ">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo white-text left">WhatsApp</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <a id="lupa" class="sidenav-trigger">
          <i class="material-icons left">search</i>
          <i class="material-icons left">more_vert</i>
        </a>

      </div>
    </nav>
  </div>


  <ul id="tabs-swipe-demo" class="tabs teal darken-3">
    <li class="tab col s3"><a class="white-text"><i style="margin-top: 12px;"
          class="material-icons white-text">camera_alt</i> </a></li>
    <li class="tab col s3"><a class="white-text" href="#test-swipe-1">Conversas</a></li>
    <li class="tab col s3"><a class="white-text" href="#test-swipe-2">Status</a></li>
    <li class="tab col s3"><a class="white-text" href="#test-swipe-3">Chamadas</a></li>
  </ul>

  <!-- Conversas -->
  <div id="test-swipe-1" class="col s12 blue">
    <ul class="collection">
      <% for(let i = 0; i < 1; i++){ %>
      <li class="collection-item avatar">
        <img src="assets/img/img<%=i%>.jpg" alt="" class="circle">
        <span class="title"><strong><%= dados[i].nome %></strong> </span>
        <p><%= dados[i].texto %> <br>
          
        </p>
        <a href="#!" class="secondary-content"><%= dados[i].hora %></a>
      </li>
      <% } %>
    </ul>
    
  </div>

  <!-- Staus -->
  <div id="test-swipe-2" class="col s12 red">
    <ul class="collection">
      <% for(let i = 0; i < 1; i++){ %>
      <li class="collection-item avatar">
        <img src="assets/img/img<%=i%>.jpg" alt="" class="circle">
        <span class="title"><strong><%= dados[i].nome %></strong> </span>
        <p><%= dados[i].texto %> <br>
          
        </p>
        <a href="#!" class="secondary-content"><%= dados[i].hora %></a>
      </li>
      <% } %>
    </ul>
  </div>

  <!-- Chamadas -->
  <div id="test-swipe-3" class="col s12 green">
    <ul class="collection">
      <ul class="collection">
        <% for(let i = 0; i < 1; i++){ %>
        <li class="collection-item avatar">
          <img src="assets/img/img<%=i%>.jpg" alt="" class="circle">
          <span class="title"><strong><%= dados[i].nome %></strong> </span>
          <p><%= dados[i].texto %> <br>
            
          </p>
          <a href="#!" class="secondary-content"><%= dados[i].hora %></a>
        </li>
        <% } %>
    </ul>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script>
    $(document).ready(function () {
      $('.tabs').tabs();
    });
  </script>

</body>

</html>